<%- include('header.ejs')%>

<section class="featured-blog mtb-40">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="blog-box" style="padding-left: 75px;">
                    <% bl.forEach((item)=>{ %>
                    <img src="<%=item.image.url%>" alt="blog1" width="400" height="300" />
                    <h3><%=item.title%></h3>
                    <p>Create on-<%= item.createdAt.toLocaleDateString() %></p>
                    <!-- <p><%=item.updatedAt%></p> -->
                    <p><b>Description</b>-<%=item.description %></p>
                    <!-- <a href="/blogdetail/<%= item._id %>" class="btn btn-danger">Read more...</a> -->
                    <% }) %>
                </div>
            </div>
        </div>
    </div>
</section>
<%- include('footer.ejs')%>
