<%- include('../../header.ejs')%>

<section class="dashboard-wrap mtb-40">
    <div class="container">
        <div class="body-content">
            <div class="row">
                <div class="col-md-3">
                    <div class="dash-left">
                        <ul>
                            <li class="active"><a href="/admin/dashboard">Dashboard</a></li>
                            <li><a href="/admin/blog">Blogs</a></li>
                            <li><a href="/admin/category">Categories</a></li>
                            <li><a href="/admin/contactdisplay" class="active">Contact</a></li>
                            <li><a href="/admin/about">About</a></li>
                            <li><a href="/logout">Logout</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="dash-right">

                        <table class="table table-bordered table-striped">
                            <tr>
                                <th>S.No</th>
                                <th>Name</th>
                                <th>Contact</th>
                                <th>Email</th>
                                <th>Message</th>
                            </tr>


                            <tr>
                                <td><%= contactview._id %></td>
                                <td><%= contactview.name %></td>
                                <td><%= contactview.contact %></td>
                                <td><%= contactview.email %></td>
                                <td><%= contactview.message %></td>

                            </tr>

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <form method="post" action="/contactinsert">
                        <div class="form-group form-row">
                            <label class="col-md-3 required">Name *</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" name="name" placeholder="name" required>
                            </div>
                        </div>
                        <div class="form-group form-row">
                            <label class="col-md-3 required">Contact Number *</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" name="contact" placeholder="contact" required>
                            </div>
                        </div>
                        <div class="form-group form-row">
                            <label class="col-md-3 required">Email Address *</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" name="email" placeholder="email" required>
                            </div>
                        </div>
                        <div class="form-group form-row">
                            <label class="col-md-3 required">Message *</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" name="message" placeholder="message" required>
                            </div>
                        </div>


                        <!-- <div class="form-group form-row">
                            <label class="col-md-3"></label>
                            <div class="col-md-9">
                                <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">close</button> -->
                        <!--<button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div> -->
                    </form>
                </div>

            </div>
        </div>
    </div>
</section>


<%- include('../../footer.ejs')%>
